@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #80a1bbb8;
  }

main {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
.container-fluid {
    background-image: url('static/css/img/romanov.jpg');
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0'
    opacity:rgba(0.0.0.0.8);
    font-family:Playfair Display;

} 
#faded {
    background-image: url('static/css/img/romanov.jpg'); 
     position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0'
    opacity:rgba(0.0.0.0.8);
}



h2{
    text-align: center;
    margin-top:60px;
    margin-left: 15px;
    font-size:2 rem;
    letter-spacing: 5px;
    font-family: Playfair Display;
    color:gold
}

/*-- NavBar --*/

/* box shadow code from https://www.cssmatic.com/box-shadow */

nav {
    -webkit-box-shadow: -1px 3px 29px -9px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 29px -9px rgba(0,0,0,0.75);
    z-index: 1;
}

nav .brand-logo {
    font-family: 'Playfair Display', serif;
}

nav ul li a {
    letter-spacing: 1px;
}

/*-- Cards for books on homepage ---*/

#card {
    padding-top: 50px;
}

/* box shadow code from https://www.cssmatic.com/box-shadow */
.card {
    height: 435px;
    width: 225px;
    position: relative;
    margin: auto;
    -webkit-box-shadow: -1px 3px 29px -9px rgba(0,0,0,0.75);
    box-shadow: -1px 3px 29px -9px rgba(0,0,0,0.75);
}
