<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  

    <title>Infinite Scroll</title>

</head>
<body>
<header>

<div id="page-container">
		<div id="content-wrap">
		

				<div class="navbar-fixed">
					<nav class="grey darken-4">
						<div class="nav-wrapper">
							<a href="{{url_for('index')}}" class="brand-logo center">Russian Reads</a>
							<a href="#" data-target="mobile-demo"
								class="sidenav-trigger"><i class="material-icons">menu</i></a>
							<ul class="right hide-on-med-and-down">
								<li><a href="{{url_for('index')}}">Home</a></li>
								{% if 'user_username' not in session %}
								<li><a href="{{url_for('show_login')}}">Log In</a></li>
								<li><a href="{{url_for('show_register')}}">Register</a></li>
								{% else %}
								<li><a href="{{url_for('add_book')}}">Add Book</a></li>
								<li><a href="{{url_for('show_books')}}">My Books</a></li>
								<li><a href="{{url_for('logout')}}">Log Out</a></li>
								{% endif %}
							</ul>
						</div>
					</nav>
				</div>

				<ul class="sidenav" id="mobile-demo">
					<li><a href="{{url_for('index')}}">Home</a></li>
					{% if 'user_username' not in session %}
					<li><a href="{{url_for('show_login')}}">Log In</a></li>
					<li><a href="{{url_for('show_register')}}">Register</a></li>
					{% else %}
					<li><a href="{{url_for('add_book')}}">Add Book</a></li>
					<li><a href="{{url_for('show_books')}}">My Books</a></li>
					<li><a href="{{url_for('logout')}}">Log Out</a></li>
					{% endif %}
				</ul>

			</header>
 
   <!-- Main Content -->
    <div class="container">
        {% block content %} {% endblock %}
    </div>

<footer>
</footer>
 <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
     <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
        })
    </script>
</body>

</html>
